body {
    background-color: rgb(31, 30, 30);
}


.container {
    width: 1000px;
    height: 600px;
    margin: auto;
    border: 2px solid white;
}



.kotak {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
}


@keyframes gerak {
    40% {
        transform: translate(800px, 0px);
    }
    80% {
        transform: translate(800px, 400px);
    }
    100% {
        transform: translate(0px, 400px);
    }
}


.container:hover  .kotak {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: gerak 5s ease 0s 1 alternate forwards ;
}