body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

h1, h2 {
    color: green;
}

ul li a {
    color: orange;
}

ol li a {
    color: red;
}

#p1 {
    color: orange;
}

#p2 {
    color: red;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

.cetak-tebal {
    font-weight: bold;
}