body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eeeeee;
    background-image: url(img/swirl_pattern.webp);
    background-repeat: no-repeat;
    background-position: top right;
}